@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
  font-family: "Google Sans Flex", sans-serif;
  /* box-sizing: border-box; */
}

input,
button,
textarea {
  outline: none;
}

.ellipsis {
  display: -webkit-box;
  /* Uses the flexbox model */
  -webkit-box-orient: vertical;
  /* Specifies the orientation */
  -webkit-line-clamp: 4;
  /* Limits to 3 lines */
  overflow: hidden;
  /* Hides overflow text */
  text-overflow: ellipsis;
  /* Adds the ellipsis */
  max-height: 6em;
  /* Adjusts based on line height */
  line-height: 1.5em;
  /* Sets line height */
}

.homeMDropDown {
  transition: max-height 0.2s ease-out;
  /* Transition effect */
}

.hideDropDown {
  border: none;
  max-height: 0px;
}

.loginImg {
  filter: drop-shadow(-1px -1px 5px rgb(0, 102, 161));
  animation: moveUpDown 5s linear infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}